@using SimpleUITemplates.UI.Contributors.Peakflames.MusicComponentParts

<div class="music-component">
    <MenuNavigation />
    <div class="music-component-content">
        <Sidebar />
        <MusicContent />
    </div>
</div>