@page "/"

<PageTitle>Sysinfocus simple/ui templates</PageTitle>

<div class="flex-col jcsb" style="width: 250px; padding-right: 1rem; height: calc(100dvh - 120px)">
    <div class="f1 flex-col g8">
        <small class="muted-color">Components</small>
        <Button Type="ButtonType.Outline" Text="Login Component" Width="auto" OnClick="LoadComponent" />
    </div>
    <AboutSysinfocus />
</div>

<div class="flex-col jcc aic w100 mt1" style="position: relative">
    @if (componentType is not null)
    {
        <a style="position: absolute; right: 1rem; top: 0" href="@(githubUrl)RahulHadgal/LoginComponent.razor" target="_blank">Get Code</a>
        <DynamicComponent Type="@componentType" />
    }
    else
    {
        <p class="muted">Click on the Component to load.</p>
    }
</div>

@code
{
    private const string githubUrl = @"https://github.com/Sysinfocus/simple-ui-templates/blob/main/src/SimpleUITemplates.UI/Contributors/";
    private Type? componentType;

    private void LoadComponent()
    {
        componentType = typeof(SimpleUITemplates.UI.Contributors.RahulHadgal.LoginComponent);
    }
}